.search-form {
  width: 500px;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form__input-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

input {
  border-radius: 20px;
}

button:disabled {
  cursor: progress
}